﻿
@model ImageVm
@{
    ViewData["Title"] = "Upload Page";
}

<br />

<br />
<br />

<h4>Upload your file here</h4>


<hr />

<div>
    <form asp-action="FileUpload" method="post" enctype="multipart/form-data">
        <div class="form-group custom-file">

            <input type="file" class="custom-file-input" asp-for="Photos" multiple/>
            <label class="control-label custom-file-label text-info"></label><br />
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Upload Data" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{

    <script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileLabel = $(this).next('.custom-file-label');
            var files = $(this)[0].files;
            if (files.length > 1) {
                fileLabel.html(files.length + 'files selected');
            }
            else if (files.length == 1) {
                fileLabel.html(files[0].name);
            }
        });

    });
    </script>


}

